@model IEnumerable<TrungTam.Areas.Admin.Models.LOAI_LOP>

@{
    ViewBag.Title = "Index";
    var id = Session["ID"];
    if (id.ToString().First().Equals('9'))
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_layout_vanphong.cshtml";
    }
}

<h2 class="Title_Content">Danh Sách Loại Lớp</h2>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
    Thêm Loại Lớp
</button>
<div class="card-body">
    
    <table class="table table-bordered table-responsive table-hover myTable">
        <thead class="text-white bg-primary text-center" >
            <tr>

                <th>Loại Lớp</th>
                <th>Số lượng</th>
                <th><em class="fa fa-cog"></em></th>>
            </tr>
        </thead>        
        <tbody id="tableDanhSach">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TEN_LOAI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SI_SO)
                </td>
                <td>
                    @*<button type="button" class="btn btn-warning">@Html.ActionLink("Sửa", "Edit", new { id = item.MA_LOAI }) </button>*@
                    <a class="btn btn-warning" href="~/Admin/LOAI_LOP/Edit/@item.MA_LOAI"> Sửa</a>
                    @*<a class="btn btn-danger" href="~/Admin/LOAI_LOP/Delete/@item.MA_LOAI" onclick="return confirm('Bạn chắc chắn muốn xóa phần tử này ?');" >Xóa</a>*@
                    <button type="button" name="xoa" class="btn btn-danger xoa" id="xoa" value="@item.MA_LOAI">Xoá</button>
                </td>            
            </tr>
            }
        </tbody>
    </table>
 </div>
    <!--Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title " id="exampleModalLabel">Thông Tin Lương</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/LOAI_LOP/Create" method="post" role="form" onsubmit="return themLop()">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-address-book"></i></span>
                                </div>
                                <input type="text" name="tenloai" id="tenloai" class="form-control input-sm" placeholder="Loại Lớp">
                            </div>
                            <span class="sp-thongbao" id="tbTenLop"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-address-book"></i></span>
                                </div>
                                <input type="number" name="siso" id="siso" class="form-control input-sm" placeholder="Sỉ số">
                            </div>
                            <span class="sp-thongbao" id="tbTenLop"></span>
                        </div>
                        <div class="modal-footer" id="modal-footer">
                            <button id="btnThemNV" type="submit" class="btn btn-success">Thêm Loại Lớp</button>
                            <button id="btnDong" type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
     $('table tbody').on('click', 'button.xoa', function () {
            //var token = $("[name='__RequestVerificationToken']").val();
         var maloai = $(this).closest('tr').find('button[name="xoa"]').val();
            bootbox.confirm({
                message: "Bạn có chắc muốn xoá không?",
                buttons: {
                    confirm: {
                        label: "Có",
                        className: "btn btn-danger"
                    },
                    cancel: {
                        label: "Không",
                        className: "btn btn-success"
                    }
                },
                callback: function (result) {
                    if (result) {
                        
                        $.ajax({
                            url: "/LOAI_LOP/Delete",
                            data: { maloai: maloai },
                            type: "POST",
                            success: function (response) {
                                if (response == "1") {
                                    bootbox.alert({ message: "Xoá thành công", callback: function () { location.reload() } });
                                } else {
                                    bootbox.alert("Mô hình đang được sử dụng không được xoá! Vui lòng xoá mô hình khác");
                                }
                            }
                        })
                    }
                }
            })
        });
</script>
